.popup-box {
    padding-top: 195px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

@media screen and (max-width:700px) {
    .popup-box {
        height: 668px;
    }
}

@media screen and (max-width:500px) {
    .popup-box {
        padding-top: 115px;
        height: 568px;
    }
}