.popup__container {
    max-height: 330px;
    width: 430px;
    padding: 36px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

@media screen and (min-width:501px) and (max-width:700px) {
    .popup__container {
        width: 400px;
    }
}

@media screen and (max-width:500px) {
    .popup__container {
        max-height: 322px;
        width: 282px;
        padding: 25px 22px;
    }
}