.profile {
    max-width: 69%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items: center;
    column-gap: 244px;
}

@media screen and (max-width:1200px) {
    .profile {
        max-width: 83%;
        padding: 42px 0 36px;
        column-gap: 160px;
    }
}

@media screen and (max-width:900px) {
    .profile {
        max-width: 88%;
        grid-template-columns: 282px;
        justify-content: center;
    }
}

@media screen and (max-width:500px) {
    .profile {
        padding-bottom: 23px;
    }
}