.profile {
    max-width: 69%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items: center;
    column-gap: 250px;
}

@media screen and (max-width:500px) {
    .profile {
        max-width: 88%;
        grid-template-columns: 282px;
        padding: 42px 0 36px;
    }
}