.popup__close-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 180px;
    right: 31%;
    border: none;
    background: url(../../../images/close-icon.svg) center no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    z-index: 1;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
}

@media screen and (max-width:1279px) {
    .popup__close-button {
        top: 140px;
        right: 25%;
    }
}

@media screen and (max-width:900px) {
    .popup__close-button {
        top: 120px;
        right: 140px;
    }
}

@media screen and (max-width:800px) {
    .popup__close-button {
        top: 100px;
        right: 120px;
    }
}

@media screen and (max-width:700px) {
    .popup__close-button {
        right: 80px;
    }
}

@media screen and (max-width:500px) {
    .popup__close-button {
        top: 75px;
        right: 60px;
    }
}

@media screen and (max-width:420px) {
    .popup__close-button {
        right: 20px;
    }
}