.cards__like-button {
    margin-top: 6px;
    border: none;
    background: url(../../../images/heart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 18px;
    width: 21px;
}

.cards__like-button:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.cards__like-button:active {
    background-image: url(../../../images/black-heart.svg);
    transition: background-image 0.3s;
}