.cards__like-button {
    margin-top: 6px;
    border: none;
    background: url(../../../images/heart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 18px;
    width: 21px;
}