.cards__title-container {
    margin-top: -5px;
    padding: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    border-radius:  0px 0px 10px 10px;
    background-color: white;
}